<a href="https://colab.research.google.com/github/geepum/python/blob/main/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
capitals = {'Czech Republic': 'Prague', 
            'Russia': 'Moscow', 
            'Australia': 'Canberra'}

In [4]:
print(pd.Series(capitals, name='Capitals of the world'))

Czech Republic      Prague
Russia              Moscow
Australia         Canberra
Name: Capitals of the world, dtype: object

In [5]:
ages_list = [21, 20, 25, 22]
names_list = ['Anna', 'Bob', 'Maria', 'Jack']

ages_series = pd.Series(ages_list, index=names_list, name='Age')
print(ages_series)

Anna     21
Bob      20
Maria    25
Jack     22
Name: Age, dtype: int64