<a href="https://colab.research.google.com/github/geepum/python/blob/main/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

In [2]:
import pandas as pd

In [3]:
capitals = {'Czech Republic': 'Prague', 
            'Russia': 'Moscow', 
            'Australia': 'Canberra'}

In [4]:
print(pd.Series(capitals, name='Capitals of the world'))

Czech Republic      Prague
Russia              Moscow
Australia         Canberra
Name: Capitals of the world, dtype: object

In [5]:
# give a name and put names as index
ages_list = [21, 20, 25, 22]
names_list = ['Anna', 'Bob', 'Maria', 'Jack']

ages_series = pd.Series(ages_list, index=names_list, name='Age')
print(ages_series)

Anna     21
Bob      20
Maria    25
Jack     22
Name: Age, dtype: int64

In [6]:
# change index
ages_series.index = ['A', 'B', 'M', 'J']
print(ages_series)

A    21
B    20
M    25
J    22
Name: Age, dtype: int64

In [7]:
# modify series object
ages_series['Jack'] = 23
print(ages_series)

# Series are:
# value-mutable
# size-immutable

A       21
B       20
M       25
J       22
Jack    23
Name: Age, dtype: int64

In [9]:
# modify series object by drop method
ages_series = pd.Series(ages_list, index=names_list, name='Age')
new_ages_series = ages_series.drop(index='Maria')
print(new_ages_series)

Anna    21
Bob     20
Jack    22
Name: Age, dtype: int64

In [10]:
# original Series remains unchanged
print(ages_series)

Anna     21
Bob      20
Maria    25
Jack     22
Name: Age, dtype: int64

In [11]:
# you can change the original Series
ages_series.drop(index='Maria', inplace=True)
print(ages_series)

Anna    21
Bob     20
Jack    22
Name: Age, dtype: int64

In [12]:
# different way to add new items
ages_series['Maria'] = 25 
print(ages_series)

new_recs = pd.Series({'Jon': 34, 'Peter': 23, 'Karo': 45, 'Abby': 25})
ages_series = ages_series.append(new_recs)
print(ages_series)

Anna     21
Bob      20
Jack     22
Maria    25
Name: Age, dtype: int64
Anna     21
Bob      20
Jack     22
Maria    25
Jon      34
Peter    23
Karo     45
Abby     25
dtype: int64

## Operations on Series

In [13]:
# when each object has same index
algebra = pd.Series({'Bob': 90, 'Anna': 100, 'Maria': 40, 'Jack': 30})
calculus = pd.Series({'Anna': 100, 'Bob': 50, 'Jack': 60, 'Maria': 20})

average = 0.5 * (algebra + calculus)
print(average)

Anna     100.0
Bob       70.0
Jack      45.0
Maria     30.0
dtype: float64

In [15]:
# when some indexes do not exist on the other Series
probability = pd.Series({'Bob': 50, 'Anna': 100})

average = 0.33 * (algebra + calculus + probability)
print(average)

Anna     99.0
Bob      62.7
Jack      NaN
Maria     NaN
dtype: float64